@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap');
* {
	box-sizing: border-box;
}
*,
*:focus,
*:hover {
	outline: none;
}
body {
	font-family: 'Roboto', sans-serif;
	font-size: 13.3333px;
	font-weight: 600;
	color: $black;
}
html,
body,
#app {
	height: 100%;
	padding: 0;
	margin: 0;
}
