button {
	background-color: lighten($primary, 15%);
	color: $secondary;
	border: none;
	padding: 0.5rem 1rem;
	font-weight: bold;
	border-radius: $border-radius;
	cursor: pointer;
	transition: 0.15s;
	&:hover {
		background-color: $secondary;
		color: $thirdary;
	}
}
